* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body {
	height: 100vh;
	background: linear-gradient(
		to right,
		#e5e6d3 0%,
		#e5e6d3 50%,
		#8cad91 0%,
		#8cad91 100%

	);

	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: repeat-y;
	background-size: cover;

}



div.transbox {
	height: 100vh;
	width: 90vw;
	background-color: #ffffff;
	background-repeat: repeat-y;
	opacity: 0.9;
	box-sizing: content-box
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  padding: 3px;
  margin: 10px;
  font-family: 'Megrim', cursive;
  
}

li {
	display: inline;

}

figure {
	background: #fff;
	overflow: hidden;
	margin: 0;

}

.hover08 figure > img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	margin-left: 20px;
}

.hover08 figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}


nav .navbar:hover {
	background-color: #edd500;
	opacity: 0.7;
}

a:link {
	text-decoration: none;

}

h1 {
	font-family: 'Megrim', cursive;
	text-align: center;
	color: #2d4029;


}

#bgQuote {

	background-color: #edd500;
	text-align: center;
	color: #292506;
}

div #intro {
	font-family: 'Waiting for the Sunrise', cursive; 
  font-size:20px; 
  margin: 10px 50px; 
  letter-spacing: 5px; 
  font-weight: bold;
  overflow: hidden;
  border-right: .15em solid #edd500;
  margin: 0;
}

@media (max-width: 576px) {
	div #intro {
		font-size: 15px;
		margin-left: 0;
		border-right: 0;
	}
}



#bgAbout {

 background-color: #ffffff;
	background-repeat: repeat-y;
 height: 100vh;
 margin-top: 0px;
}


@media (max-width: 576px) {
	#bgAbout h1 {
		font-size: 20px;
		text-align: center;
	}
}

@media (max-width: 820px) {
	#bgAbout {
		max-height: 45rem;
	}
}


@media (min-width: 360px) and (max-width: 576px) {
	#bgAbout {
		max-height: 60rem;
	}
}

.card mb-3 {
	max-width: 540px;
}

#card1 {
	background-color: #302b1b;

}


.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

#card1 .card-title {
	font-family: 'Waiting for the Sunrise', cursive; 
  font-size:30px; 
  margin: 5px 50px; 
  letter-spacing: 5px; 
  font-weight: bold;
  overflow: hidden;
  color: #fcfac5;
}

@media (max-width: 576px) {
	#card1 .card-title {
		font-size: 15px;
	}
}


#card1 .card-text {
	color: #b3c9a7;
}

#card1 .list-group {
	color: #b3c9a7;
}

#card2 {
	background-color: #525452;
}

#card2 .card-title {
	font-family: 'Waiting for the Sunrise', cursive; 
  font-size:30px; 
  margin: 5px 50px; 
  letter-spacing: 5px; 
  font-weight: bold;
  overflow: hidden;
  color: #fcfac5;
}

@media (max-width: 576px) {
	#card1 .card-title {
		font-size: 17px;
	}
}

#card2 .card-text {
	color: #b3c9a7;
}

#card2 .list-group {
	color: #b3c9a7;
}

@media (max-width: 576px) {
	#card2 .card-title {
		font-size: 17px;
	}
}

#contactMe {

 background-color: #ffffff;
	background-repeat: repeat-y;
 height: 100vh;
 margin-top: 0px;
}

#contactMe h1 {
	padding-top: 3rem;
	padding-bottom: 1rem;
	text-align: center;
}

form {
	background-color: #edd500;
	background: radial-gradient(circle, #edd500, #73681e);
  gap: 4px;
 	width: 35rem;
}

@media (max-width: 576px) {
	form {
		width: 20rem;
		margin-left: 0.1rem;
	}
}

#map img {
	width: 30rem;
	height: auto;
	margin-right: 6rem;
	margin-top: 1.5rem;
}

#address h2 {
	font-family: 'Waiting for the Sunrise', cursive; 
  font-size:30px; 
  margin: 5px 50px; 
  letter-spacing: 5px; 
  font-weight: bold;
  overflow: hidden;
  color: #fcfac5;
  margin-right: 6rem;
  margin-top: 2rem;
}

#address ul > li {
	margin-right: 5rem;
}

@media (max-width: 576px) {
	#address h2 {
		font-size: 17px;
	}
}


.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

div #address a {

text-decoration: none;
color: #edd500;
margin-right: 30rem;
margin-top: 1rem;

}

#fb img {
	width: 2rem;
	height: 2rem;
	margin: 0;

}

#insta img {
	width: 1.85rem;
	height: 1.85rem;
	margin: 0;

}

div #backhome a {

text-decoration: none;
color: #edd500;
margin-left: 1.5rem;

}


@media (max-width: 820px) {
	div #map {
		margin-left: 7rem;
	}
}

@media (max-width: 480px) {
	div #map {
		margin-left: 0.1rem;
	}
}